# Introduction to Python

There are four collection data types in the Python programming language:
1. List : ordered and changeable. Allows duplicate members.
2. Tuple : ordered and unchangeable. Allows duplicate members.
3. Set : unordered and changeable. No duplicate members.
4. Dictionary: unordered, changeable. No duplicate members.

### List 

List is a collection which is ordered and changeable. Allows duplicate members.

In [1]:
#creating a list

thislist = ["apple", "banana", "cherry"]
print(thislist)
print(type(thislist))

['apple', 'banana', 'cherry']
<class 'list'>

In [2]:
#Access items 
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [3]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [4]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])     # slicing

['cherry', 'orange', 'kiwi']

In [5]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [6]:
#Loop Through a List

thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [7]:
#length of list

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [8]:
#add item in the list using append() method.

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [9]:
#add item in the list using insert() method at specified location.


thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [10]:
#remove item from list.

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [11]:
#remove item from specified location in list.

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [12]:
#clear method make list empty.

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [13]:
#copy a list
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [14]:
#join 2 list.

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [15]:
#list() constructor to make a new list. Here it creates a list from a tuple.

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Other built-in methods..

* append() Adds an element at the end of the list
* count()	 Returns the number of elements with the specified value
* index()	 Returns the index of the first element with the specified value
* insert() Adds an element at the specified position
* pop()	 Removes the element at the specified position
* remove() Removes the item with the specified value
* reverse() Reverses the order of the list
* sort()    Sort the elements

In [16]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

#print(fruits.count('apple'))

#print(fruits.index('banana'))

#print(fruits.index('banana', 4))  # Find next banana starting a position 4

#fruits.reverse()

#fruits.append('grape')

#fruits.sort()

#fruits.pop()

print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

### Tuple
A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [17]:
#create tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(type(thislist))

('apple', 'banana', 'cherry')
<class 'list'>

In [18]:
#access tuple items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [19]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [20]:
#Loop throught a Tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [21]:
#Tuple length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [22]:
#Add item in tuple.
'''
It will give you error. you can't add items in tuple because it is unchangeable.
'''
thistuple = ("apple", "banana", "cherry")
thistuple[2] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [23]:
#join two tuple

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### Set
A set is a collection which is unordered and changeable. In Python sets are written with curly brackets.

In [24]:
#creating set

thisset = {"apple", "banana", "cherry"}
print(thisset)
print(type(thislist))

{'banana', 'cherry', 'apple'}
<class 'list'>

In [25]:
#Access item in a set.
'''
You can't access item in a set by referring to an index, 
since sets are unordered the items has no index.
'''
thisset = {"apple", "banana", "cherry"}
#print(thisset[0])
for x in thisset:
    print(x)

banana
cherry
apple

In [26]:
#Chagne item add(), update() method.

thisset = {"apple", "banana", "cherry"}

#thisset.add("orange")
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'grapes', 'mango', 'orange', 'banana', 'cherry', 'apple'}

In [27]:
#remove item using remove() or discard() method.
'''
If the item to remove does not exist, remove() will raise an error.
If the item to remove does not exist, discard() will NOT raise an error.
 
'''

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")
#thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [28]:
#Join two sets using union() or update()
'''
union() method that returns a new set containing all items from both sets.
update() method that inserts all the items from one set into another
'''

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)

#set1.update(set2)
#print(set1)
print(set3)

{1, 2, 'b', 3, 'c', 'a'}

# Dictionary

A dictionary is a collection which is unordered and changeable. 
In Python dictionaries are written with curly brackets, and they have keys and values.

In [29]:

# Create and print a dictionary:

dict1 = {
  "1": "Ram",
  "Gender": "Male",
  "year": 1998
}
print(dict1)

{'1': 'Ram', 'Gender': 'Male', 'year': 1998}

In [30]:
dict2 = dict(name="Ford", Gender="Male", year=1964)

dict2

{'name': 'Ford', 'Gender': 'Male', 'year': 1964}

In [31]:
#Accessing Items
x = dict1["1"]
#x = dict1.get("year")
print(x)

Ram

In [32]:
# Change Values

dict1["year"] = 2020

dict1

{'1': 'Ram', 'Gender': 'Male', 'year': 2020}

In [33]:
# Loop Through a Dictionary

# Print all key names in the dictionary:

for x in dict1:
  print(x)

1
Gender
year

In [34]:
# Print all values in the dictionary, one by one:

for x in dict1:
  print(dict1[x])

Ram
Male
2020

In [35]:
# print both key and value

for x, y in dict1.items():
  print(x, y)

1 Ram
Gender Male
year 2020

In [36]:
#Adding Items

dict1["Age"] = 25

print(dict1)

{'1': 'Ram', 'Gender': 'Male', 'year': 2020, 'Age': 25}

In [37]:
#Removing Items

dict1.pop("Age")

#dict1.popitem()

#del dict1["Age"]

dict1

{'1': 'Ram', 'Gender': 'Male', 'year': 2020}

In [38]:
dict1.clear()
print(dict1)

{}

In [39]:
# Nested Dictionaries

#Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [40]:
myfamily["child1"]

{'name': 'Emil', 'year': 2004}